<form class="container mt-4" [formGroup]="carForm" (ngSubmit)="insert()">
    <legend>Add A New Car</legend>
    <div class="mb-3">
        <label for="brandName" class="form-label">Brand Name</label>
        <input type="text" formControlName="brand" class="form-control" id="brandName" />
    </div>
    <div class="mb-3">
        <label for="modelName" class="form-label">Model</label>
        <input type="text" formControlName="model" class="form-control" id="modelName" />
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="number" formControlName="price" class="form-control" id="price" />
    </div>
    <div class="d-flex justify-content-between">
        <div>
            <button type="button" class="btn btn-light mt-4" routerLink="/">Back</button>
        </div>
        <div>
            <button type="submit" class="btn btn-primary mt-4">Insert</button>
        </div>
    </div>
</form>