<nav class="navbar navbar-light bg-light p-3">
  <a class="navbar-brand text-white" href="#">
    Angular V.14 With NgRx
  </a>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>